body {
  font-family: sans-serif;
  text-align: center;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

#file-input {
  margin-bottom: 20px;
}

#pdf-controls {
  margin: 10px 0;
}

canvas {
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
}

/* Export controls */
#export-controls {
  margin-top: 20px;
}

#export-controls select,
#export-controls button {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
}
